*{
    padding: 0;
    margin: 0;
}

h3{
    font-weight: 400;
    color: #555555;
    padding-top: 1vh;
    padding-left: 1vw;
}

.C_in , .F_status , .M_trip{
    padding-top: 2vh;
    padding-left: 1vw;
    height: 10vh;
    width: 100%;
}

#cnic, #lname{
    height: 6vh;
    width: 20vw;
    margin-top: 0.1vh;
    margin-left: 0vw;
    font-weight: 400;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

#cnic{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: 2px solid teal;
    border-right: none;
}

#lname{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 2px solid teal;
}

#from, #to{
    height: 6vh;
    width: 20vw;
    margin-top: 0.1vh;
    margin-left: 0vw;
    font-weight: 400;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

#from{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: 2px solid teal;
    border-right: none;
}

#to{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 2px solid teal;
}

#submit{
    margin-left: 1.5vw;
    height: 6.6vh;
    width: 16vw;
    border-radius: 0.5rem;
    background-color: #ffa903;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size:  1.5rem;
    font-weight: 500;
    color: teal;
}

.Input_field{
    float: left;

}

.submit_button{
    float: left;
    margin-top: 0.01rem;

}